<template name="postSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="url">姓名</label>
        <div class="controls">
            <input name="url" type="text" value="" placeholder="Your Name"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">房间号</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Where are you"/>
            <span >例子：19#5，意为在19号楼5层，如有房间号，请填写房间号。</span>
        </div>
    </div>
    

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>